* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #68d7eb;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 15px;
    
}

.titulo{
  text-align: center;
  padding:10px;
  font-size: 24px;
  background-color: #b0e1eb;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 50px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu ul li {
    padding: 10px 20px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #007BFF;
}

.content {
    padding: 20px;
}

section {
    height: 500px;
    padding: 50px;
}

#historia {
    background-color: #f2f2f2;
}

#educacion {
    background-color: #eaeaea;
}

#logros {
    background-color: #f2f2f2;
}

#metas {
    background-color: #eaeaea;
}

.imagen{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.imagen{
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.historia-content p{
    flex: 1;
}